<html>
    <head>
        <title> To-do List</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <h2> We have a to-do list </h2>
        <form action ="/addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task">
            <button> Add a Task </button>
            <h2> Tasks </h2>
            <% for( var i=0; i < tasks.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= tasks[i] %>" /><%= tasks[i] %></li>
            <% } %>
            <button formaction="/removetask" type="submit"> Remove Task </button>
        </form>
        <h2> Completed tasks </h2>

        

    </div>
    </body>
</html>