@font-face {font-family: 'cyberpnk'; 
src: url('Cyberfunk-RGyM.ttf')format('truetype');}

body {
    background-image: url("cyberpunk.gif");
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    color: white;
    margin-top: 20px;
    font-family: "cyberpnk";
    text-align: center;
}

h1 {
    font-size: 3.5em;
    color: black;
    text-shadow: -1px 0px 3px #00FFFF, 3px 0px 3px #F13CF2;
	letter-spacing: 2px;
    padding-top: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 3em;
    margin-bottom: -1px;
    color: black;
    text-shadow: -1px 0px 3px #00FFFF, 3px 0px 3px #F13CF2;
}

h3 {
    font-size: 2.5em;
    color: black;
    text-shadow: -1px 0px 3px #00FFFF, 3px 0px 3px #F13CF2;
    margin-bottom: -3px;
}

input {
    font-size: .8em;
    color: white;
    letter-spacing: 1px;
    text-shadow: -1px 0px 3px #00FFFF, 3px 0px 3px #F13CF2;
    background: transparent;
    padding-top: -2px;
    padding-bottom: -2px;
}

.container {
    line-height: 2em;
}

li {
    list-style: none;
}

button {
    background: transparent;
    border-radius: 6px;
    border: 1px solid black;
}
